@using TutoringCenter.VN.Models;
@model News
@{
    ViewData["Title"] = "SỬA TIN BÀI";
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Sửa bài</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="." class="text-muted">Admin</a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">Tin tức</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <button type="button" class="btn waves-effect waves-light btn-danger btn-rounded px-5" onclick="window.history.back()">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">CHỈNH SỬA TIN BÀI</h4>
                    <form method="post">
                        @Html.HiddenFor(x => x.NId)
                        @Html.HiddenFor(x => x.CreateAt)
                        @Html.HiddenFor(x => x.UpdateAt)
                        <h4 class="card-title mt-3">Tiêu đề</h4>
                        <input asp-for="Title" type="text" class="form-control" id="prenametext" placeholder="Tiêu đề">
                        <h4 class="card-title mt-3">Nội dung</h4>
                        <textarea asp-for="Content" class="form-control" id="newsContent" rows="3"></textarea>
                        <h4 class="card-title mt-3">Mô tả ngắn</h4>
                        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Mô tả..."></textarea>
                        <h4 class="card-title mt-3">Các thẻ</h4>
                        <input asp-for="Tags" type="text" class="form-control" id="prenametext" placeholder="Ngăn cách bởi dấu phẩy. VD: abc, xyz,...">
                        <h4 class="card-title mt-3">Ảnh tiêu biểu</h4>
                        <input asp-for="Image" type="text" class="form-control" id="prenametext" placeholder="Đường dẫn ảnh tiêu biểu">
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Mục tin</label>
                            </div>
                            <select class="custom-select" asp-for="NCId" asp-items="@ViewBag.newsCategories">
                            </select>
                        </div>
                        <button type="submit" class="btn btn-block btn-rounded btn-success mt-5">CẬP NHẬT</button>
                        @Html.Raw(ViewBag.notification)
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
@section Scripts {
    <!--This page plugins -->
    <script src="dist/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">function goBack() {
            window.history.back()
        }
        $(document).ready(function () {
            var path = document.location.pathname;
            var directory = path.substring(path.indexOf('/'), path.lastIndexOf('/'));
            directory = directory.substring(directory.indexOf('/'), directory.lastIndexOf('/'));
            CKEDITOR.replace("nContent", {
                height: 600,
                filebrowserUploadUrl: `${directory}/ImageUpload`,
                filebrowserUploadMethod: "form"
            });
        });</script>
}
<style>

    .table td, .table th {
        vertical-align: middle;
    }

    .custom-select {
        color: #000;
    }
</style>
